.booking-container {
  background-color: var(--blue-dark);
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.booking-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-left form {
  height: 100%;
}

.spacer {
  flex: 1;
}

.booking-right {
  flex: 1;
}

.message-container {
  width: 50%;
}
