.container {
  display: flex;
  gap: 2rem;
}

.message-container {
  margin-left: calc(50% + 1rem);
}

.bookings-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  background-color: var(--blue-dark);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input, .form select {
  color: white;
  background-color: var(--blue-darker);
  border: none;
  padding: 1rem;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}

.form .form-submit {
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

.form-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
