.container {
  display: flex;
  gap: 2rem;
}

.message-container {
  margin-left: calc(50% + 1rem);
}

.bookings-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section form {
  padding: 2rem;
}
