.container {
  background-color: var(--blue-dark);
  padding: 2rem;
}

.top {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
}

.left, .right {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
