.container {
  background-color: var(--blue-dark);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}

.left {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.rating {
  font-size: 1.3rem;
}

.gold {
  color: var(--gold);
}
