* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2d65a4;
  --blue-dark: #204875;
  --blue-darker: #132b46;
  --success: #65a30d;
  --success-text: #d9f99d;
  --error: #dc2626;
  --error-text: #fecaca;
}

body {
  font-family: sans-serif;
  background-color: var(--blue);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
